@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
.preto {
  color: #000;
}
.vermelho {
  color: #f00;
}
.verde {
  color: #27ae60;
}